@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    height: 0.1rem;
    width: 0.5rem;
}

::-webkit-scrollbar-track{
    background-color: #67ccff;
}

::-webkit-slider-thumb{
    background-color: #1d002c;
    border-radius: 5rem;
}

body{
    font-family: 'Poppins','sans-serif';
    background-color: #1d002c;
    color:white;
    /* overflow: hidden; */
}

header{
    padding: 25px 10%;
    position: absolute;
    left:0;
    top:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 1001;
}

.logo{
    font-size: 2rem;
    text-shadow: 2px 2px black;
    color: white;
    text-decoration: none;
    font-weight: 700;
}

ul.navlist{
    display: flex;
    align-items: center;

}

.navlist li{
    margin-left: 1rem;
}

.navlist li a{
    color: white;
    text-decoration: none;
    font-weight:500;
    font-size: 1rem;
    padding: 5px 12px;
    border: 2px solid rgba(179, 179, 255, 0.677);
    background-color:  rgba(116, 116, 206, 0.693);
    border-radius: 25px;
    transition: all .3 ease;
}

.navlist li a:hover{
    box-shadow: 0 0 1rem rgba(179, 179, 255, 0.677);;
    background: rgba(179, 179, 255, 0.677);;
    color: white;
}

.parallax{
    min-height: 100vh;
}
.about{
    margin-top: -10%;
    min-height: 100vh;
    width: 100%; /* Set the width to 100% to avoid any unintended extension */
    overflow: hidden; /* Optional: To hide any overflow if content exceeds the height */
    position: relative; /* Helps in positioning the inner elements if needed */
}

.about2{
    min-height: 50vh;
    width: 100%; /* Set the width to 100% to avoid any unintended extension */
    overflow: hidden; /* Optional: To hide any overflow if content exceeds the height */
    position: relative; /* Helps in positioning the inner elements if needed */
}

.parallax{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.parallax img{
    position: absolute;
    object-fit: cover;
    pointer-events: none;
}


.parallax #text{
    position: absolute;
    font-size: 2.5rem;
    text-shadow: 0 10px 4px black;
    top: 85%;
    left: 3%;
}

.parallax img#moon{
    mix-blend-mode: screen;

}

.about img#desert-moon{
    mix-blend-mode: screen;
}
.about2 img#desert-moon2{
    mix-blend-mode: screen;
}

.about{
    position: relative;

}

.about img{
    position: absolute;
    z-index: 1000;
    object-fit: cover;
    pointer-events: none;

}

.about img.about-waterfall{
    position: absolute;
    top: -95px;
}

.about .infobox{
    position: absolute;
    top:0%;
    left: 10%;
    width: 50%;
    z-index: 1003;
    background: #1d002c;
}

.about .infobox h2{
    font-size: 2rem;

}

.about .infobox p{
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
}


.about2{
    position: relative;

}

.about2 img{
    position: absolute;
    z-index: 1000;
    object-fit: cover;
    pointer-events: none;

}

.about2 img.about-waterfall{
    position: absolute;
    top: -95px;
}

.about2 .infobox{
    position: absolute;
    top:0%;
    left: 10%;
    width: 50%;
    z-index: 1003;
    background: #1d002c;
}

.about2 .infobox h2{
    font-size: 2rem;

}

.about2 .infobox p{
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
}

.btn{
    background: lightblue;
    color: darkblue;
    text-decoration: none;
    border-radius: 25px;
    padding: 0.5rem 1rem;
    transition: all .3 ease;
    border: 2px solid black;
    font-weight: 500;
}

.book_animation{
    height: 100%;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.book-container {

    perspective: 1500px;

}

.book {
    width: 350px;
    height: 400px;
    position: relative;
    transform: rotateX(70deg);
    transform-style: preserve-3d;
    transition: transform 0.8s ease-in-out;
}
.book_clicked{
    transform: rotateX(30deg) translateX(100px);
    transition: transform 0.8s ease-in-out;
}

.page, .dummy-page {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transform-origin: left;
    transition: transform 0.8s ease-in-out;
    background-color: #090332;
    color: white;
    text-align: center;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
}

.front {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: "Bahnschrift", fantasy;

    }

.back{
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: "Bahnschrift", fantasy;

}

#moon{
    top: 1%;
}


.front > img{
    height: 100%;
    overflow: hidden;
}

.back > img{
    height: 100%;
    overflow: hidden;
}

.front {
    z-index: 2;
}

.back {
    transform: rotateY(180deg);
}

/* Real Pages z-index and Z translation */
#page1 {
    z-index: 35;
    transform: translateZ(0px);
}

#page2 {
    z-index: 34;
    transform: translateZ(-2px);
}

#page3 {
    z-index: 33;
    transform: translateZ(-4px);
}

#page4 {
    z-index: 32;
    transform: translateZ(-4px);
}
#page5 {
    z-index: 31;
    transform: translateZ(-4px);
}

#page6 {
    z-index: 30;
    transform: translateZ(-4px);
}

#page7 {
    z-index: 29;
    transform: translateZ(-4px);
}

#page8 {
    z-index: 28;
    transform: translateZ(-4px);
}
#page9 {
    z-index: 27;
    transform: translateZ(-4px);
}

#page10 {
    z-index: 26;
    transform: translateZ(-4px);
}

#page11 {
    z-index: 25;
    transform: translateZ(-4px);
}

#page12 {
    z-index: 24;
    transform: translateZ(-4px);
}
#page13 {
    z-index: 23;
    transform: translateZ(-4px);
}

#page14 {
    z-index: 22;
    transform: translateZ(-4px);
}

#page15 {
    z-index: 21;
    transform: translateZ(-4px);
}

#page16 {
    z-index: 20;
    transform: translateZ(-4px);
}
#page17 {
    z-index: 19;
    transform: translateZ(-4px);
}

#page18 {
    z-index: 18;
    transform: translateZ(-4px);
}

#page19 {
    z-index: 17;
    transform: translateZ(-4px);
}

#page20 {
    z-index: 16;
    transform: translateZ(-4px);
}#page21 {
    z-index: 15;
    transform: translateZ(-4px);
}

#page22 {
    z-index: 14;
    transform: translateZ(-4px);
}

#page23 {
    z-index: 13;
    transform: translateZ(-4px);
}

#page24 {
    z-index: 12;
    transform: translateZ(-4px);
}#page25 {
    z-index: 11;
    transform: translateZ(-4px);
}

#page26 {
    z-index: 10;
    transform: translateZ(-4px);
}

#page27 {
    z-index: 9;
    transform: translateZ(-4px);
}


/* Dummy Pages to add thickness, positioned behind the real pages */
.dummy-page {
    z-index: 3;
    background-color: #00013e;
}

.dummy-page1 { transform: translateZ(-6px); }
.dummy-page2 { transform: translateZ(-8px); }
.dummy-page3 { transform: translateZ(-10px); }
.dummy-page4 { transform: translateZ(-12px); }

/* Flip Animation */
.page.flipped:nth-child(1){
    transform: rotateY(-179deg) !important;
}
.page.flipped:nth-child(2){
    transform: rotateY(-178deg) !important;
}
.page.flipped:nth-child(3){
    transform: rotateY(-177deg) !important;
}
.page.flipped:nth-child(4){
    transform: rotateY(-176deg) !important;
}
.page.flipped:nth-child(5){
    transform: rotateY(-175deg) !important;
}
.page.flipped:nth-child(6){
    transform: rotateY(-174deg) !important;
}
.page.flipped:nth-child(7){
    transform: rotateY(-173deg) !important;
}
.page.flipped:nth-child(8){
    transform: rotateY(-172deg) !important;
}.page.flipped:nth-child(9){
    transform: rotateY(-171deg) !important;
}
.page.flipped:nth-child(10){
    transform: rotateY(-170deg) !important;
}
.page.flipped:nth-child(11){
    transform: rotateY(-169deg) !important;
}
.page.flipped:nth-child(12){
    transform: rotateY(-168deg) !important;
}.page.flipped:nth-child(13){
    transform: rotateY(-167deg) !important;
}
.page.flipped:nth-child(14){
    transform: rotateY(-166deg) !important;
}
.page.flipped:nth-child(15){
    transform: rotateY(-165deg) !important;
}
.page.flipped:nth-child(16){
    transform: rotateY(-164deg) !important;
}.page.flipped:nth-child(17){
    transform: rotateY(-163deg) !important;
}
.page.flipped:nth-child(18){
    transform: rotateY(-162deg) !important;
}
.page.flipped:nth-child(19){
    transform: rotateY(-161deg) !important;
}
.page.flipped:nth-child(20){
    transform: rotateY(-160deg) !important;
}.page.flipped:nth-child(21){
    transform: rotateY(-159deg) !important;
}
.page.flipped:nth-child(22){
    transform: rotateY(-158deg) !important;
}
.page.flipped:nth-child(23){
    transform: rotateY(-157deg) !important;
}
.page.flipped:nth-child(24){
    transform: rotateY(-156deg) !important;
}.page.flipped:nth-child(25){
    transform: rotateY(-155deg) !important;
}
.page.flipped:nth-child(26){
    transform: rotateY(-154deg) !important;
}
.page.flipped:nth-child(27){
    transform: rotateY(-153deg) !important;
}
.click_to_start{
    font-family: "Bahnschrift", fantasy;
    font-size: 3em;
    font-weight: bold;
    position: absolute;
    transform: translateY(-200px);
    transition: transform 0.8s ease-in-out, font-size 0.8s ease-in-out;

}
